<!-- Offer Start -->   
        <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
            <img src="{{offer.offerImageUrl}}">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">{{offer.discount}}{{offer.text}}</h5>
                    <h1 class="mb-4 font-weight-semi-bold">{{ offer.season}} Collection</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
            </div>
        </div>          
<!-- Offer End -->